Package: com.thomasfinch.priorityhub
Name: Priority Hub
Depends: mobilesubstrate, preferenceloader
Conflicts: gsc.ipad
Version: 1.0
Architecture: iphoneos-arm
Description: organizes notifications on lockscreen
Maintainer: Thomas Finch
Author: Thomas Finch
Section: Tweaks
Icon: file:///Library/PreferenceBundles/PriorityHub.bundle/icon@2x.png
